<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>codeX-HomePage</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <%- include('./partials/nav') %>
    <%- include('./partials/script') %>
    <div class="credentials">
        <div class="forSignin">
        <form action="/user/signin" method="GET">
            <button>Login Bro!</button>
        </form>
    </div>
    <div class="forSignup">
        <form action="/user/signup" method="GET">
            <button>Register Bro!</button>
        </form>
    </div>
    </div>
    <div class="H1">
        <h1><b>Welcome to CodeX !</b></h1>
    </div>
    <div class="para1">
        <p>
            CodeX is an initiative that helps fellow coders find their programming buddy,<br> hackathon partners and evolve out of the
            boring coding sessions that one walks<br> often without fun and interaction. Share your cool ass projects and let the<br>whole community applaud it.
            This is just a minimal version of the bigger picture<br>to what codeX can potentially be in future. It would be a credential verification<br>ledger that would have a blockchain 
            technology to foster proof of work and promote only the valid<br> credentials that are required for hiring developers.
            <br> This is a SaaS product and will heavily impact the hiring process<br>of software industries removing all the anti elements such as plagarism, <br>
            cheating, faking credentials and every other malpractice...
        </p>
    </div>
    <h2><b>How is it useful to you ?</b></h2>
    <div class="para2">
        <p>So you are just a developer or someone who is just learning a new tech stack or any programming language,<br>
        And ever felt that you need a real experience once so that you can know the essence of what a real production grade app<br>
        looks like. But you want to get a mock experience or something before you start talking cash for internships.<br>
        Here is how we solve it we are trying to build a platform that lets users contribute and collaborate with bigger projects,<br>
        Instead of that random tic-tac-toe game. Now you can work for credits and these credits showcase your developer skills.<br>
        The more of credits you have the more likely it is to get a good EI(Experience Internship) offer from a decent startup or maybe a<br>
        big tech giant who knows when its all on you...
        </p>

    </div>

</body>
</html>